<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p *ngIf="users.length === 0">There are no online users!</p>
    <ion-list>
        <button ion-item *ngFor="let user of users" (click)="chatWith(user)">
      {{ user.username }}
      <div class="item-note" item-end>
        {{ user.id }}
      </div>
    </button>
    </ion-list>
</ion-content>
